.container {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(42, 16, 45, 1) 15%,
        rgba(111, 41, 119, 0.86) 47%,
        rgba(52, 19, 56, 1) 79%,
        rgba(0, 0, 0, 1) 100%
      );
      /* background-blend-mode: normal; */
      
}

.text_about {
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: Montserrat;
    margin-top: 30px;
}

@media only screen and (min-width: 1200px) {
    .text_about {
        font-size: 1.5em;
    }
}